<div>
  <a href="/admin/blog">New blog</a>
</div>
<form name="delete-blog" method="POST">
</form>

<script>
  function onDelete(slug) {
    let deleteForm = document.forms['delete-blog'];
    let result = confirm('Do you want to delete?');
    if (result) {
      let url = window.location + '/' + slug + '?_method=DELETE';
      deleteForm.action = url;
      deleteForm.submit();
    }
  }
</script>
{{#each blogs}}
  <div>
    <span>Slug: </span>
    <span>{{this.slug}}</span>
  </div>
  <div>
    <span>Title: </span>
    <span>{{this.title}}</span>
  </div>
  <div>
    <span>Brief: </span>
    <span>{{this.brief}}</span>
  </div>
  <div>
    <a href="/admin/blog/{{this.slug}}">View</a>
    <a href="/admin/blogs/{{this.slug}}">Edit</a>
    <a href="javascript:;" onclick="onDelete('{{this.slug}}');">Delete</a>
  </div>
  <hr />
{{/each}}
