<style>
    #container {
        width: 1000px;
        margin: 20px auto;
    }
    .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 200px;
    }
    .ck-content .image {
        /* block images */
        max-width: 80%;
        margin: 20px auto;
    }
    .document-container {
        width: 848px;
        margin-left:auto;
        margin-right:auto;
    }
    .document-container .document {
        width: 100%;
        padding: 32px;
        background-color: #fff;
    }
    figure.image {
        text-align:center;
    }
    table.ck-table-resized {
        width: 100%;
    }
    figure.table {
        margin:auto;
    }
    table.ck-table-resized, table.ck-table-resized td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    table.ck-table-resized td {
        padding: 4px;
    }
    div.hscrollable_container {
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
    }
</style>
<div id="container">
    <div>
        <span>Slug: </span>
        <span>{{slug}}</span>
    </div>

    <div>
        <span>State: </span>
        <span>{{state}}</span>
    </div>

    <div>
        <span>Title: </span>
        <span>{{title}}</span>
    </div>

    <div>
        <span>Brief: </span>
        <span>{{brief}}</span>
    </div>

    <div>
        <div>Content:</div>
        <div class="document-container">
            <div class="document">{{{content}}}</div>
        </div>
    </div>
</div>