<style>
    #container {
        width: 1000px;
        margin: 20px auto;
    }
    .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 200px;
    }
    .ck-content .image {
        /* block images */
        max-width: 80%;
        margin: 20px auto;
    }
    .document-container {
        width: 848px;
        margin-left:auto;
        margin-right:auto;
    }
    .document-container .document {
        width: 100%;
        padding: 32px;
        background-color: #ccc;
    }
</style>
<div id="container">
    <div>
        <span>Slug: </span>
        <span>{{slug}}</span>
    </div>

    <div>
        <span>Name: </span>
        <span>{{name}}</span>
    </div>

    <div>
        <span>Brief: </span>
        <span>{{brief}}</span>
    </div>

    <div>
        <div>Image: </div>
        <img src="{{img}}" alt="{{img}}" />
    </div>

    <div>
        <div>Document:</div>
        <div class="document-container">
            <div class="document">{{{document}}}</div>
        </div>
    </div>
</div>