<style>
    #container {
        width: 1000px;
        margin: 20px auto;
    }
</style>
<div id="container">
    <div>
        <a href="./home">Edit</a>
    </div>
    <div>
        <span>Name:</span>
        <span>{{name}}</span>
    </div>
    <div>
        <span>State:</span>
        <span>{{state}}</span>
    </div>
    <div>
        <span>Quote:<span>
        <span>{{quote}}</span>
    </div>
    <div>
        <div>Image:</div>
        <img src="{{img}}" alt="{{img}}" />
    </div>
    <div>
        <div>Content:</div>
        <div>{{content}}</div>
    </div>
</div>